doctype html
html
  head
    title Bibek Chaudhary-Personal Website
    block style
      style 
        include ../static/css/style.css
        include ../static/css/responsive.css
  body.body.darkmode
    
    block content 
    footer.footerSection
        | Copyright &copy; 2023 www.bibekchaudhary14.com.np | All rights reserved!! 
    block scripts
      script
        include ../static/js/index.js 