extends base.pug


block content
    nav.navbar.h-class-resp
      .left
        .left-section
          div
            img.logo(src='../static/img/mayur.png' alt='logo')
          button#playButton.logo-title Hare Krishna
        .burger
          .line
          .line
          .line
      .right
        ul.nav-list.v-class-resp
          li
            a(href='/') Home
          li
            a(href='#about') About
          li
            a(href='#projects') Projects
          li
            a(href='#skills') Skills
          // <li><a href="/">Portfsolio</a></li>
          li
            a(href='/contact') Contact Me
          .darkbtn
            i.fa.fa-moon

    main.main-box.dark-mode
      section.homeSection
        .firstSection
          .leftSection.hello
            | Hello!! I am
            div
              span#element
            // <div class="name">Bibek Chaudhary</div>
            .work
              | I am an Authorized 
              span Civil Engineer.
            .bio
              | As a Civil Engineering Student, I possess a strong
              | technical background in Basics of Structural Design,
              | Fluid Mechanics, Hydrology &amp; Irrigation Engineering,
              | Highway and Airport Engineering, Building Materials
              | and Concrete Technology. I am eager to apply my
              | skills and knowledge in a professional setting and
              | contribute to the growth and success of an
              | organization in the field of Civil Engineering.
          .rightSection
            img(src='../static/img/civil img1.png' alt='')
        .buttons
          // <button class="btn">Download Resume</button>
          // <button class="btn">Follow ME</button>
          span.a-btn
            a(href='../static/document/Bibek Resume.pdf' download='') Download Resume
          span.a-btn
            a(href='https://www.instagram.com/bibek_chaudhary142/' target='_blank')
              | Follow
              | Me
      hr#about
      section.aboutSection
        h1.heading
          | About
          span.me Me
        .aboutObjects
          .pic-box
            img.mypic(src='../static/img/mypic.jpeg' alt='')
          .content-box
            p.bio.bio-center
              | I&apos;m a dedicated civil engineering student in my 5th semester of B.Tech, passionate about shaping
              | the world through innovative design and construction. Armed with a solid foundation in
              | structural analysis, geotechnical engineering, and transportation systems, my academic journey
              | harmonizes theoretical learning with hands-on experiences. With a keen interest in
              | sustainability and innovation, I&apos;m constantly exploring the latest advancements in materials and
              | technology, including AutoCAD design. Internships and site visits have provided me invaluable
              | insights into translating classroom theories into real-world marvels, affirming my belief in
              | civil engineering&apos;s transformative power. This website serves as my platform to share insights,
              | projects, and resources, inspiring fellow students and contributing to the engineering
              | community. As I chart my course ahead, I&apos;m eager to specialize further and contribute to the
              | future of our cities and communities through inventive engineering solutions.
      hr
      section.educationSection
        h1.heading Education
        .emain-box
          .ebox
            .course
              i.fa-solid.fa-graduation-cap
              span.B-Tech B.Tech
            .duration
              i.fas.fa-calendar-alt
              span.date 2021-2025 A.D.
            .faculty Civil Engineering
            .I-name Jain University, Bangalore, India
          .ebox
            .course
              i.fas.fa-book-reader
              span.B-Tech Diploma/+2
            .duration
              i.fas.fa-calendar-alt
              span.date 2018-2020 A.D.
            .faculty Civil Engineering/Science
            .I-name Shree Padma S. School, Kathmandu, Nepal
          .ebox
            .course
              i.fa-solid.fa-school.sm-icon
              span.B-Tech School
            .duration
              i.fas.fa-calendar-alt
              span.date 2018 A.D.
            .faculty Upto 10th
            .I-name Shree Sukdev S. School, Mahottari, Nepal
      hr#projects
      section.projectSection
        h1.heading Projects
        .pmain-box
          .pbox.pbox-full 
            .p-box
              .p-title Economical Concrete Using Nano Materials
              .p-duration
                i.fas.fa-calendar-alt
                span.date 2023 A.D.
              div
                details.details.fullContent 
                  summary.summary
                    | Economical Concrete Using Nano Materials is an innovative
                    | project that aims to enhance the performance and affordability of concrete by
                    | incorporating nanotechnology-based materials.
                  |  The &quot;Economical Concrete
                  |                                 Using Nano Materials&quot; project aims to elevate concrete performance and
                  |                                 cost-effectiveness through the integration of cutting-edge nanomaterials such as silica
                  |                                 nanoparticles, alumina nanoparticles, carbon nanotubes, and graphene oxide. By
                  |                                 harnessing the unique properties of these nanomaterials, the project endeavors to
                  |                                 enhance concrete&apos;s mechanical attributes, durability, and sustainability, thereby
                  |                                 demonstrating the transformative potential of nanotechnology in revolutionizing the
                  |                                 construction landscape.
          .pboxSec.pbox-fullSec 
            .p-box
              .p-title Geopolymer Concrete Using Nano Materials
              .p-duration
                i.fas.fa-calendar-alt
                span.date 2022 A.D.
              div
                details.details.fullContentSec
                  summary.summary
                    | Geopolymer Concrete Using Nano Materials project aims to
                    | demonstrate the feasibility and advantages of incorporating nano materials into
                    | geopolymer concrete, offering a more sustainable and  high-performance alternative
                    | for construction applications.
                  |  The &quot;Geopolymer Concrete Using Nano
                  |                                 Materials&quot; project aims to enhance geopolymer concrete&apos;s strength, durability, and
                  |                                 sustainability by incorporating key nanomaterials such as nanoparticles, nanofibers, and
                  |                                 nanotubes. Through meticulous mix design and structural analysis, this innovative
                  |                                 initiative seeks to unlock the synergistic potential of these nanomaterials, paving the
                  |                                 way for a more eco-friendly and high-performance construction solution.
        .pmain-box
          .pbox.pbox-big.pbox-bgfull 
            .p-box
              .p-title
                | Innovation and Venture Development
                | in Entrepreneurship
              .p-duration
                i.fas.fa-calendar-alt
                span.date 2021 A.D.
              div
                details.details.fullContentBig
                  summary.summary
                    | Innovation and Venture Development in Entrepreneurship project
                    | equips participants with the knowledge, skills, and mindset needed to navigate the
                    | complexities of venture creation and entrepreneurship.
                  |  The &quot;Innovation and
                  |                                 Venture Development in Entrepreneurship&quot; project focuses on guiding participants through
                  |                                 the transformative process of cultivating innovative ideas into viable ventures. By
                  |                                 merging entrepreneurial principles with innovative thinking, the project covers the
                  |                                 entire spectrum of venture creation, from ideation and market analysis to business
                  |                                 modeling, funding strategies, and growth planning. Participants engage in hands-on
                  |                                 activities, experiential learning, and mentorship to refine their concepts, evaluate
                  |                                 market feasibility, develop robust business plans, and effectively communicate their
                  |                                 value propositions.
          .pbox.pbox-bigSec.pbox-bgfullSec 
            .p-box
              .p-title Movie Recommendation System Using Business Analytics
              .p-duration
                i.fas.fa-calendar-alt
                span.date 2023 A.D.
              div
                details.details.fullContentBigSec
                  summary.summary
                    | Movie Recommendation System Using Business Analytics project
                    | aims to showcase how advanced analytics techniques can be harnessed to deliver
                    | personalized and impactful movie recommendations.
                  |  The &quot;Movie
                  |                                 Recommendation System Using Business Analytics&quot; project combines data-driven insights
                  |                                 and advanced algorithms to create a dynamic movie recommendation platform. By harnessing
                  |                                 user ratings, genres, and demographic data, the system employs a tailored approach,
                  |                                 integrating collaborative filtering, content-based analysis, and hybrid methods to
                  |                                 suggest films aligned with individual preferences. With a focus on user engagement,
                  |                                 conversion rates, and revenue enhancement, the project not only optimizes recommendation
                  |                                 accuracy but also generates actionable business insights.
      hr#skills
      section.skillSection
        h1.heading Skills
        .smain-box
          .smain-subbox
            .sbox
              .icon-center
                img.s-icon.sicon-sm(src='../static/img/web-development.png' alt='')
              .s-title
                | Web Development
              .s-content
                | Creating websites and web applications using coding languages like HTML, CSS, and JavaScript
                | to provide online functionality and user experiences
            .sbox
              .icon-center
                img.s-icon(src='../static/img/cad.png' alt='')
              .s-title
                | AutoCAD
              .s-content
                | Proficient in AutoCAD software for precise 2D and 3D design and drafting in engineering and
                | architectural projects.
            .sbox
              .icon-center
                img.s-icon(src='../static/img/mobile-app.png' alt='')
              .s-title
                | App Development
              .s-content
                | Designing and coding mobile applications for various platforms like iOS and Android to offer
                | user-friendly and functional mobile experiences.
          .smain-subbox
            .sbox
              .icon-center
                img.s-icon.sicon-sm(src='../static/img/office.png' alt='')
              .s-title
                | Microsoft office
              .s-content
                .t-center Word, Excel, PowerPoint
                |                             Proficient in creating documents, spreadsheets, and presentations for effective
                |                             communication and data management.
            .sbox
              .icon-center
                img.s-icon(src='../static/img/coding.png' alt='')
              .s-title
                | Coding Basics
              .s-content
                .t-center Java, Python, C, C++
                |                             Fundamental understanding of programming languages for software development and
                |                             problem-solving.
            .sbox
              .icon-center
                img.s-icon.sicon-bg(src='../static/img/painting.png' alt='')
              .s-title
                | Canva
              .s-content
                | Canva is an online design tool used for create professional looking posters, slideshows,
                | images, event flyers, resumes, cards, certificates, infographics, and other media.
    script(src='https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js')
    script.
      var typed = new Typed('#element', {
      strings: ['Bibek Chaudhary'],
      typeSpeed: 60,
      onComplete: function () {
      typed.reset();
      }
      });
    script.
      const playButton = document.getElementById('playButton');
      const audio = new Audio('../static/tone/krishna flute.mp3');

      playButton.addEventListener('click', () => {
      audio.play()
      });
      
    script. 
      const userName = prompt("Welcome!! Kindly provide your name:");
      const audios = new Audio('../static/tone/krishna flute.mp3');

      if (userName !== null && userName !== "") {
      audios.play()
      .then(() => {
      alert(`Hare Krishna, ${userName}!, Click on Hare Krishna to listen the world's peaceful tune`);
      })
      .catch(error => {
      console.error('Failed to play audio:', error.message);
      alert(`Hare Krishna, ${userName}!, Click on Hare Krishna to listen the world's peaceful tune`);
      });
      } else {
      alert(`You didn't enter a name, Click on Hare Krishna to listen the world's peaceful tune`);
      }
    script(src='https://kit.fontawesome.com/6e1db5778e.js' crossorigin='anonymous')  